@font-face {
  font-family: 'Bitter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Bitter Regular'), local('Bitter-Regular'), url(https://fonts.gstatic.com/s/bitter/v15/rax8HiqOu8IVPmn7f4xs.ttf) format('truetype');
}
@font-face {
  font-family: 'Heebo';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local('Heebo'), local('Heebo-Regular'), url(https://fonts.gstatic.com/s/heebo/v5/NGS6v5_NC0k9P9H2TbQ.ttf) format('truetype');
}
/**********variables*******************/
/**********mixins****************/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  max-width: 100%;
}
html,
body {
  height: 100%;
  background-color: lightgray;
}
.nav {
  display: flex;
  justify-content: flex-end;
  width: 85%;
}
a {
  font-family: 'Heebo', sans-serif;
  text-decoration: none;
  font-size: 1.5rem;
  color: white;
  text-shadow: 2px 2px black;
}
.image {
  width: 25%;
  padding: 1%;
}
.title {
  display: flex;
  justify-content: center;
  font-size: 1.8rem;
  border-bottom: solid black 1px;
  font-family: 'Anton', sans-serif;
}
@media (max-width: 500px) {
  .title {
    align-content: center;
  }
}
.skills {
  padding: 0.5%;
}
.intro {
  padding: 0.5%;
}
.objective {
  padding: 1%;
}
.middle {
  display: flex;
}
.history {
  padding: 1%;
}
.jobs {
  margin: 1%;
}
p {
  font-family: 'Bitter', serif;
  /*	.border();  */
}
h2 {
  font-family: 'Heebo', sans-serif;
}
