
  /* Set every element's box-sizing to border-box */

  * {
    box-sizing: border-box;
    padding:0;
    margin:0;
    max-width: 100%;
    
  }

  html,
  body {
    height: 100%;
    margin: 2%;
    border: black solid 1px;

    h2{
      font-family: 'Bitter', serif;
    }
    
  }
  .links{
    display: flex;
    justify-content:flex-end;
    font-size: 2rem;
    margin: 1%
    font-family: 'Heebo', sans-serif;
    

  }
  .image{
    width:25%;
    
  }
  h1{
    padding-left: 33%;
    border-bottom: solid black 1px;
    font-family: 'Heebo', sans-serif;
  }
    .objective{
      margin-top: 1%;

    }

  .middle{
    display:flex;
    margin-top: 1%;
    margin-bottom: 1%;
    
  }
  .history{
    margin-top: 1%;
    margin-bottom: 1%;
    border-bottom: solid black 1px;
  }
  .jobs{
    padding:1%;
  }
  @media(max-width:500px){

    .links{
      display:flex;
      justify-content: center;

      h1{
        padding-left:0%;
        
        
      }

    }






  }